@using Core.Models
@model QuestionModel

@if (Model.ResponseType == QuestionType.Text)
{
    <div class="mb-3">
        <label class="form-label">Your Answer:</label>
        <input type="text" class="form-control" name="Answer" placeholder="Input placeholder" required>
    </div>
}
else if (Model.ResponseType == QuestionType.YesNo)
{
    <div class="mb-3">
        <div class="form-label">Your Answer:</div>
        <div>
            <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Answer" value="Yes" required>
                <span class="form-check-label">Yes</span>
            </label>
            <label class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="Answer" value="No" required>
                <span class="form-check-label">No</span>
            </label>
        </div>
    </div>
}

@if (Model.AllowsComment)
{
    <div class="form-group">
        <label for="comment">Additional Comments (Optional):</label>
        <textarea id="comment" name="Comment" class="form-control"></textarea>
    </div>
}